html,
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr  4fr;
}

.upper-part {
    background-color: gray;
    color: black;
}

/*CSS CARD*/
.book-card {
    background-color: yellow;
    color: black;
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 200px;
}

.book-card h3 {
    margin : 0 0 8px 0;
}

.book-card p {
    margin: 4px 0;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

* {
    border: red 1px solid;
}