html,
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr  4fr;
}

.upper-part {
    background-color: #D3D3D3;
    color: black;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.upper-part h1{
    font-size: 50px;
}

#add-button {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: yellow; 
    color: black;            
    border: none;              /* No border */
    padding: 10px 20px;        /* Padding to make the button larger */
    text-align: center;        /* Centered text */
    text-decoration: none;     /* No text decoration */
    display: inline-block;     /* Allows the button to align properly */
    font-size: 30px;           /* Font size */
    margin: 4px 2px;           /* Margin around the button */
    cursor: pointer;           /* Changes the cursor to a hand on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth animation for color change */
    border-radius: 5px;        /* Rounded corners */
}


#add-button:hover {
    background-color: #003366; /* Navy blue on hover */
    color: #FFFFFF;            /* White text on hover */
}

.book-container {
    display: grid; /* Use grid for layout */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Auto-fill columns */
    gap: 16px; /* Add space between the cards */
    justify-items: center; /* Center the items in each column */
}


/*CSS CARD*/
.book-card {
    background-color: yellow;
    color: black;
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 200px;
}

.book-card h3 {
    margin : 0 0 8px 0;
}

.book-card p {
    margin: 4px 0;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
}

* {
    border: red 1px solid;
}